###Python Basic Programming Assignment 13

**Question 1:**

Write a program that calculates and prints the value according to the given formula:

Q = Square root of [(2 * C * D)/H]

Following are the fixed values of C and H:

C is 50. H is 30.

D is the variable whose values should be input to your program in a comma-separated sequence.

**Example**

Let us assume the following comma separated input sequence is given to the program:

100,150,180

The output of the program should be:

18,22,24

In [96]:
import math
C=50
H=30

In [97]:
D = input("Input the number in comma-separated sequence : ")

Input the number in comma-separated sequence : 100, 150,180

In [98]:
D = D.split(",")

In [99]:
for item in D:
  try:
    item = int(item)
  except:
    print(f"{item} is not integer")
  try:
    Q = math.sqrt((2*C*item)/H)
  except:
    print(f"Error in calculating Q for {item}")
  print(round(Q),end=",")

18,22,24,


**Question 2:**

Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.

Note: i=0,1.., X-1; j=0,1,¡¬Y-1.

**Example**

Suppose the following inputs are given to the program:

3,5

Then, the output of the program should be:

[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [110]:
try:
  X=int(input("Enter the digit:"))
except:
  print("It is not a digit")

try:
  Y=int(input("Enter the digit:"))
except:
  print("It is not a digit")

Enter the digit:3
Enter the digit:5

In [111]:
import random
temp=[]
for row in range(X):
  lst=[]
  temp.append(lst)       #adding empty list at each row increament
  for col in range(Y):
    temp[row].append(random.randint(1,50))  #randomly insering int values from 1to 50 to populate columns

In [112]:
temp

[[45, 13, 12, 45, 36], [7, 34, 11, 50, 18], [10, 23, 33, 17, 25]]

**Question 3:**
Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.

Suppose the following input is supplied to the program:

without,hello,bag,world

Then, the output should be:

bag,hello,without,world

In [119]:
s = input("Enter the comma separated string : ")

Enter the comma separated string : without,hello,bag,world

In [120]:
lst = s.split(",")
lst

['without', 'hello', 'bag', 'world']

In [121]:
lst.sort()
lst

['bag', 'hello', 'without', 'world']

In [122]:
",".join(lst)

'bag,hello,without,world'

**Question 4:**
Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically.

Suppose the following input is supplied to the program:

hello world and practice makes perfect and hello world again

Then, the output should be:

again and hello makes perfect practice world

In [127]:
s=input("Enter the string:")

Enter the string:hello world and practice makes perfect and hello world again

In [128]:
lst=s.split()
lst

['hello',
 'world',
 'and',
 'practice',
 'makes',
 'perfect',
 'and',
 'hello',
 'world',
 'again']

In [131]:
lst =list(set(lst))
lst

['practice', 'world', 'and', 'again', 'makes', 'perfect', 'hello']

In [132]:
lst.sort()
lst

['again', 'and', 'hello', 'makes', 'perfect', 'practice', 'world']

In [133]:
" ".join(lst)

'again and hello makes perfect practice world'

**Question 5:**
Write a program that accepts a sentence and calculate the number of letters and digits.

Suppose the following input is supplied to the program:

hello world! 123

Then, the output should be:

LETTERS 10

DIGITS 3

In [141]:
s = "hello world! 123"
LETTERS=0
DIGIT=0

In [142]:
for ch in s:
  #print(ch, ch.isalpha(),ch.isdigit())
  if ch.isalpha():
    LETTERS+=1
  if ch.isdigit():
    DIGIT+=1

In [143]:
print("LETTERS=",LETTERS)
print("DIGIT=",DIGIT)

LETTERS= 10
DIGIT= 3

**Question 6:**
A website requires the users to input username and password to register. Write a program to check the validity of password input by users.

Following are the criteria for checking the password:

1. At least 1 letter between [a-z]

2. At least 1 number between [0-9]

1. At least 1 letter between [A-Z]

3. At least 1 character from [$#@]

4. Minimum length of transaction password: 6

5. Maximum length of transaction password: 12

Your program should accept a sequence of comma separated passwords and will check them according to the above criteria. Passwords that match the criteria are to be printed, each separated by a comma.

**Example**

If the following passwords are given as input to the program:

ABd1234@1,a F1#,2w3E*,2We3345

Then, the output of the program should be:

ABd1234@1

In [174]:
import re

In [175]:
def passwordChk(s):
  flag=True
  while(flag):
    if len(s)<6 or len(s)>12:
      break
  
    if not re.search("[a-z]",s):
      break

    if not re.search("[A-Z]",s):
      break

    if not re.search("[0-9]",s):
      break


    if not re.search("[$@#]",s):
      break
  
    flag=False
    return True  #Valid password return True

  if flag:
    return False #Invalid password return False

In [180]:
s=input("Enter the passwords in comma separated form :")

Enter the passwords in comma separated form :ABd1234@1,a F1#,2w3E*,2We3345,AB2c@54dfe

In [181]:
for pwd in s.split(","):
  if passwordChk(pwd):
    print(pwd,end=" ")

ABd1234@1 AB2c@54dfe