###Python Basic Programming Assignment 15

**Question 1:**
Please write a program using generator to print the numbers which can be divisible by 5 and 7 between 0 and n in comma separated form while n is input by console.

**Example:**
If the following n is given as input to the program:
100
Then, the output of the program should be:
0,35,70

In [77]:
num = input("Enter the integer numbers separated by comma ")
lst=num.split(",")
lst

Enter the integer numbers separated by comma 2,5,4,9,7,75,35,70,55

['2', '5', '4', '9', '7', '75', '35', '70', '55']

In [78]:
def gen(lst):
  for n in lst:
    n=int(n)
    if n%5==0  and n%7==0:
      yield n

In [79]:
x=gen(lst)

In [80]:
next(x)

35

In [81]:
next(x)

70

In [83]:
###Method 2
lst=[2,5,4,9,7,75,35,70,55]
x = (n for n in lst if (n%5==0 and n%7==0))

In [84]:
next(x)

35

In [85]:
next(x)

70

**Question 2:**
Please write a program using generator to print the even numbers between 0 and n in comma separated form while n is input by console.
**Example:**
If the following n is given as input to the program:
10
Then, the output of the program should be:
0,2,4,6,8,10

In [168]:
num = int(input("Enter the number"))

Enter the number7

In [169]:
def gen(num):
  n=1
  while(n<=num*2):
    #print(n,num)
    if n%2==0:
      yield n
    n+=1

In [170]:
x=gen(num)

In [171]:
for _ in range(num):
  print(next(x),end=" ")

2 4 6 8 10 12 14

**Question 3:**
The Fibonacci Sequence is computed based on the following formula:
f(n)=0 if n=0
f(n)=1 if n=1
f(n)=f(n-1)+f(n-2) if n>1
Please write a program using list comprehension to print the Fibonacci Sequence in comma separated form with a given n input by console.

**Example:**
If the following n is given as input to the program:
7

Then, the output of the program should be:
0,1,1,2,3,5,8,13

In [266]:
num = int(input("Enter the number"))

Enter the number7

In [268]:
def fib(num):
  a=0
  b=1
 

  while True:
    
    a,b = b,a+b
    yield a

In [269]:
x=fib(num)

In [270]:

for i in range(num):
  print(next(x),end=" ")

1 1 2 3 5 8 13

**Question 4:**
Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the user name of a given email address. Both user names and company names are composed of letters only.

**Example:**
If the following email address is given as input to the program:
john@google.com
Then, the output of the program should be:
john

In [272]:
s="john@google.com "
s.strip()

'john@google.com'

In [273]:
s.split("@")[0]

'john'

In [286]:
###Method2

import re

email = "john@google.com Asim@google.com abc@xyz.com"
pattern = "(\w+)@\w+.com"
ans = re.findall(pattern,email)
print(ans)

['john', 'Asim', 'abc']

**Question 5:**
Define a class named Shape and its subclass Square. The Square class has an init function which takes a length as argument. Both classes have a area function which can print the area of the shape where Shape's area is 0 by default.

In [287]:
class Shape:
  def __init__(self):
    self.area = 0

  def getArea(self):
    return self.area


class Square(Shape):
  def __init__(self,l):
    self.l =l
    self.area=0

  def getArea(self):
    area=self.l**2
    return area

In [294]:
sh = Shape()
sh.getArea()

0

In [295]:
sq=Square(5)

In [296]:
sq.getArea()

25