###Python Basic Programming Assignment 17

**Question1** Create a function that takes three arguments a, b, c and returns the sum of the numbers that are evenly divided by c from the range a, b inclusive.

**Examples**

```
evenly_divisible(1, 10, 20) ➞ 0
# No number between 1 and 10 can be evenly divided by 20.

evenly_divisible(1, 10, 2) ➞ 30
# 2 + 4 + 6 + 8 + 10 = 30

evenly_divisible(1, 10, 3) ➞ 18
# 3 + 6 + 9 = 18
```

In [98]:
def evenly_divisible(a,b,c):
  try:
    min=a
    max=b
    i=1
    sum=0
    flag=True
    while(flag):
      if min<=(c*i)<=max:
        sum=sum+(c*i)
        i+=1
      else:
        flag=False
    return sum
  except Exception as e:
    return "Error:",e

In [99]:
evenly_divisible(1,10,2)

30

In [100]:
evenly_divisible(1,10,20)

0

In [101]:
evenly_divisible(1,10,3)

18

In [102]:
evenly_divisible(1,10,'a')

('Error:',
 TypeError("'<=' not supported between instances of 'int' and 'str'"))

**Question2**. Create a function that returns True if a given inequality expression is correct and False otherwise.

**Examples**

```

correct_signs("3 < 7 < 11") ➞ True

correct_signs("13 > 44 > 33 > 1") ➞ False

correct_signs("1 < 2 < 6 < 9 > 3") ➞ True

```

In [107]:
def correct_signs(s):
  try:
    exp = eval(s)
    if exp:
      return True
    else:
      return False
  except Exception as e:
    return "Error : "+str(e)

In [108]:
correct_signs("3 < 7 < 11")

True

In [109]:
correct_signs("13 > 44 > 33 > 1")

False

In [110]:
correct_signs("1 < 2 < 6 < 9 > 3")

True

In [111]:
correct_signs("1 < 2 < 6 < 9 pp 3")

'Error : invalid syntax (<string>, line 1)'

**Question3**. Create a function that replaces all the vowels in a string with a specified character.

**Examples**

```
replace_vowels("the aardvark", "#") ➞ "th# ##rdv#rk"

replace_vowels("minnie mouse", "?") ➞ "m?nn?? m??s?"

replace_vowels("shakespeare", "*") ➞ "sh*k*sp**r*"
```

In [112]:
def replace_vowels(s,ch):
  try:
    temp=[]
    vowel=['a','e','i','o','u']
    for elem in s:
      if elem in vowel:
        temp.append(ch)
      else:
        temp.append(elem)
    return "".join(temp)
  except Exception as e:
    return "Error : "+str(e)

In [113]:
replace_vowels("the aardvark", "#")

'th# ##rdv#rk'

In [114]:
replace_vowels("minnie mouse", "?")

'm?nn?? m??s?'

In [115]:
replace_vowels("shakespeare", "*")

'sh*k*sp**r*'

**Question4**. Write a function that calculates the factorial of a number recursively.

**Examples**


```
factorial(5) ➞ 120

factorial(3) ➞ 6

factorial(1) ➞ 1

factorial(0) ➞ 1
```

In [120]:
def factorial(num):
  try:
    if num>=1:
      return num * factorial(num-1)
    else:
      return 1
  except Exception as e:
    return "error : "+str(e)

In [121]:
factorial(5)

120

In [122]:
factorial(3)

6

In [123]:
factorial(1)

1

In [124]:
factorial(0)

1

**Question 5**
Hamming distance is the number of characters that differ between two strings.

To illustrate:
String1: "abcbba"
String2: "abcbda"

Hamming Distance: 1 - "b" vs. "d" is the only difference.
Create a function that computes the hamming distance between two strings.

**Examples**


```
hamming_distance("abcde", "bcdef") ➞ 5

hamming_distance("abcde", "abcde") ➞ 0

hamming_distance("strong", "strung") ➞ 1
```

In [125]:
def hamming_distance(a,b):
  try:
    if len(a) != len(b):
      return "Length Mismatch"
    ctr=0
    for i in range(len(a)):
      if a[i] !=b[i]:
        ctr+=1
    return ctr
  except Exception as e:
    return "error : "+ str(e)

In [126]:
hamming_distance("abcde", "bcdef")

5

In [127]:
hamming_distance("abcde", "abcde")

0

In [128]:
hamming_distance("strong", "strung")

1

In [129]:
hamming_distance("strong", "stru")

'Length Mismatch'

In [130]:
hamming_distance("strong",123456)

"error : object of type 'int' has no len()"