<a href="https://colab.research.google.com/github/aasim2390/PythonProgrammingAssignment/blob/main/5_Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Ques1** - Write a python script to remove the last digit from a given number. (for example, if
user enters 2534 then your output should be 253)

In [4]:
while(True):
  num = eval(input("Enter a integer number:"))
  if type(num) is not int:
    print("You have entered incorrect format. Try again!!")
    continue
  
  num = int(num/10)
  print("Required number is ",num)
  break

Enter a integer number:23.65
You have entered incorrect format. Try again!!
Enter a integer number:23659
Required number is  2365

**Ques2** - Write a python script to get the last digit from a given number. (for example, if user
enters 2089 then your output should be 9)

In [6]:
while(True):
  num = eval(input("Enter a integer number:"))
  if type(num) is not int:
    print("You have entered incorrect format. Try again!!")
    continue
  
  num = num%10
  print("Required number is ",num)
  break

Enter a integer number:2089
Required number is  9

**Ques3** - Write a python script to swap data of two variables

In [7]:
a,b = 5,6
print(f"Before a = {a}, b={b}")
b,a = a,b
print(f"After a = {a}, b={b}")

Before a = 5, b=6
After a = 6, b=5

**Ques4** - Write a python script to find x power y, where values of x and y are given by user

In [8]:
x = eval(input("x = "))
y = eval(input("y = "))

print(f"{x} power {y} is {x**y}")

x = 2
y = 3
2 power 3 is 8

**Ques5** - Write a python script which takes a three digit number from the user and displays
only its first digit.

In [9]:
x = int(input("Enter 3 digit number"))
int(x/100)

Enter 3 digit number123

1

**Ques6** - Write a python script which takes a three digit number from the user and displays
only its middle digit.

In [11]:
x = int(input("Enter 3 digit number"))
y = int(x/10)
y%10

Enter 3 digit number123

2

**Ques7** - Write a python script which takes a three digit number from the user and displays
only its last digit.

In [12]:
x = int(input("Enter 3 digit number"))
x%10

Enter 3 digit number365

5

**Ques8** - Write a python script to use IN operator to display the data present in the list

In [13]:
5 in [1,2,50,4]

False

In [14]:
5 in [1,2,5,4]

True

**Ques9** - Write a python script to use NOT IN operator to display the data not present in list

In [15]:
30 not in [1,2,50,4]

True

In [17]:
"s" not in "asim"

False

**Ques10** - Write a python script to use IS operator to display if both variables are the same
object or not?

In [18]:
x = 5
y = 5
x is y

True

In [19]:
x = "abc"
y = "abc"
x is y

True

In [21]:
x = 5
y = 6
x is y

False