###Python Programming Assignment 06

**1.	Write a Python Program to Display Fibonacci Sequence Using Recursion?**

In [3]:
def fib(n):
  if n<=1:
    return n
  else:
    return fib(n-1) + fib(n-2)

In [11]:
for i in range(1,10):
  print(fib(i))

1
1
2
3
5
8
13
21
34

**2.	Write a Python Program to Find Factorial of Number Using Recursion?**

In [12]:
def fact(n):
  if n<=1:
    return 1
  else:
    return n*fact(n-1)

In [15]:
fact(5)

120

**3.	Write a Python Program to calculate your Body Mass Index?**

In [25]:
def BMI():
  """ Body mass index = Weight/ (height * height)"""
  h=eval(input("Enter height in cm : "))
  w=eval(input("Enter weight in kg : "))

  if ((type(h) == int or type(h) == float) and (type(w) == int or type(w))) :
    h=h/100
    bmi = round(w / (h**2),2)
  else:
    return "Enter correct input!!"

  return bmi

In [26]:
BMI()

Enter height in cm : 172
Enter weight in kg : 75

25.35

**4.	Write a Python Program to calculate the natural logarithm of any number?**

In [32]:
import math

def mylog(n):
  if type(n) == int or type(int)==float:
      return math.log(n)
  else:
    return "number should be int or float"

In [34]:
mylog(10)

2.302585092994046

**5.	Write a Python Program for cube sum of first n natural numbers?**

In [51]:
def cubeSum(n):
  if type(n)!=int and n<=0:
    return "Number should be non-zero positive integer"
  s=0
  for i in range(1,n+1):
    s=s+i**3
  return s

In [56]:
cubeSum(3)

36