###Python Basic Programming Assignment 10

**1.	Write a Python program to find sum of elements in list?**

In [174]:
lst = [1,2,2.3,5,22,56,3.5,3,8,9]

sum(lst)

111.8

**2.	Write a Python program to  Multiply all numbers in the list?**

In [175]:
mul = 1

for i in lst:
  mul = mul * i

print(mul)

21422016.0

**3.	Write a Python program to find smallest number in a list?**

In [176]:
min(lst)

1

**4.	Write a Python program to find largest number in a list?**

In [177]:
max(lst)

56

**5.	Write a Python program to find second largest number in a list?**

In [178]:
lst1 = lst
lst1.sort()
lst1[-2]

22

**6.	Write a Python program to find N largest elements from a list?**

In [179]:
def N_largest(lst,n):
  lst1 = lst
  temp=[]
  if len(lst1)>=n and n>0:
    lst1.sort()
    for i in range(n):
      temp.append(lst1[i])
    return temp

  else:
    return "Enter correct value of N"

In [180]:
N_largest(lst,2)

[1, 2]

In [181]:
N_largest(lst,10)

[1, 2, 2.3, 3, 3.5, 5, 8, 9, 22, 56]

In [182]:
N_largest(lst,11)

'Enter correct value of N'

**7.	Write a Python program to print even numbers in a list?**

In [183]:
temp=[]
for num in lst:
  if type(num)==int:
    if num%2 ==0:
      temp.append(num)
print("Even numbers in list are: ",temp)

Even numbers in list are:  [2, 8, 22, 56]

**8.	Write a Python program to print odd numbers in a List?**

In [184]:
temp=[]
for num in lst:
  if type(num)==int:
    if num%3 ==0:
      temp.append(num)
print("Odd numbers in list are: ",temp)

Odd numbers in list are:  [3, 9]

**9.	Write a Python program to Remove empty List from List?**

In [185]:
lst=[1,"a",22,[],2,33,[1,2,3],[],"123",["abc"]]

flag=True
while(flag):
  if [] in lst:
    i=0
    while(i<len(lst)):
      if ((type(lst[i]) == list) and (not bool(lst[i]))):
        lst.remove(lst[i])
        break
      i+=1
  else:
    flag=False



print("After removal of blank list : ",lst)

After removal of blank list :  [1, 'a', 22, 2, 33, [1, 2, 3], '123', ['abc']]

**10.	Write a Python program to Cloning or Copying a list?**

In [186]:

##Method1
l1 = [1,2,[3,4,22,55,1,[3,4]],3,4,"abc"]
l1_1 = l1

l1 == l1_1

True

In [187]:
##Method2 -shallow copy
import copy
l2 = [1,2,[3,4,22,55,1,[3,4]],3,4,"abc"]
l2_2 = copy.copy(l2)

l2 == l2_2

True

In [188]:
##Method3 - Deep Copy
l3 =[1,2,[3,4,22,55,1,[3,4]],3,4,"abc"]
l3_3 = copy.deepcopy(l3)

l3==l3_3

True

Differences of the above three methods:

In [189]:
l1[2][5][0] =66
l1.append([2,4])
print(l1)
print(l1_1)
print(l1==l1_1)

[1, 2, [3, 4, 22, 55, 1, [66, 4]], 3, 4, 'abc', [2, 4]]
[1, 2, [3, 4, 22, 55, 1, [66, 4]], 3, 4, 'abc', [2, 4]]
True

In [190]:
l2[2][5][0] =66
l2.append([2,4])
print(l2)
print(l2_2)
print(l2==l2_2)

[1, 2, [3, 4, 22, 55, 1, [66, 4]], 3, 4, 'abc', [2, 4]]
[1, 2, [3, 4, 22, 55, 1, [66, 4]], 3, 4, 'abc']
False

In [191]:
l3[2][5][0] =66
l3.append([2,4])
print(l3)
print(l3_3)
print(l3==l3_3)

[1, 2, [3, 4, 22, 55, 1, [66, 4]], 3, 4, 'abc', [2, 4]]
[1, 2, [3, 4, 22, 55, 1, [3, 4]], 3, 4, 'abc']
False

**11.	Write a Python program to Count occurrences of an element in a list?**

In [192]:
lst=[1,2,1,2,12,55,25,22,55,22,55,1,12,53,63,"aa","aa","a","ff"]

elem =23
lst.count(elem)

0

In [193]:
elem =2
lst.count(elem)

2

In [194]:
elem ="aa"
lst.count(elem)

2

In [195]:
elem ="an"
lst.count(elem)

0