###Python Programming Basic Assignment 04

**1.	Write a Python Program to Find the Factorial of a Number?**

In [67]:
def factorial(num):
  f=1
  while(num>0):
    f=num*f
    num-=1
    #print(f,num)
  return f

In [68]:
print(factorial(5))

120

**2.	Write a Python Program to Display the multiplication Table?**

In [70]:
def mult(num):
  for i in range(1,11):
    print(f"{num} X {i} = {num*i}")

In [71]:
mult(5)

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [72]:
mult(18)

18 X 1 = 18
18 X 2 = 36
18 X 3 = 54
18 X 4 = 72
18 X 5 = 90
18 X 6 = 108
18 X 7 = 126
18 X 8 = 144
18 X 9 = 162
18 X 10 = 180

**3.	Write a Python Program to Print the Fibonacci sequence?**

In [84]:
def fib(num):
  a=1
  b=0
  for i in range(num):
    print(a,end=", ")
    a,b = a+b,a

In [85]:
fib(10)

1, 1, 2, 3, 5, 8, 13, 21, 34, 55,

**4.	Write a Python Program to Check Armstrong Number?**

In [95]:
def ArmstrongNo(num):
  if type(num)!=int:
    return "Error: Please enter interger type only"

  l =list(str(num))
  arm_no = 0
  for i in l:
    arm_no = arm_no + int(i)**3
  if num == arm_no:
    return "This is Armstrong Number"
  else:
    return "This is not Armstrong Number"

In [99]:
ArmstrongNo(153)

'This is Armstrong Number'

In [97]:
ArmstrongNo(662)

'This is not Armstrong Number'

**5.	Write a Python Program to Find Armstrong Number in an Interval?**

In [100]:
for i in range(1,1000):
  if ArmstrongNo(i) =="This is Armstrong Number":
    print(i,end=" , ")

1 , 153 , 370 , 371 , 407 ,

**6.	Write a Python Program to Find the Sum of Natural Numbers?**

In [107]:
def summation(num):
  sum=0
  for i in range(1,num+1):
    sum = sum +i
  return sum

In [109]:
summation(10)

55